{% extends 'iwg2x.jinja2' %}

{% set connection_command = 'telnet localhost 8020' %}
{% set power_on_command = '/usr/bin/egctl egenie on left left left' %}
{% set power_off_command = '/usr/bin/egctl egenie off left left left' %}
{% set hard_reset_command = '/usr/bin/egctl egenie on left left left' %}
